<div class="form-container">
  <div *ngIf="maxStars > 0" class="stars">
    <div *ngIf="maxStars > 0" class="stars-row">
      <div *ngIf="maxStars > 0" class="stars-group">
        <span
          *ngFor="let star of [1, 2, 3, 4, 5]"
          (click)="stars == star ? (stars = 0) : (stars = star)"
        >
          <img [src]="stars >= star ? star_filled : star_empty" alt="Star" />
        </span>
      </div>
      <div *ngIf="maxStars > 5" class="stars-group">
        <span
          *ngFor="let star of [6, 7, 8, 9, 10]"
          (click)="stars == star ? (stars = 0) : (stars = star)"
        >
          <img [src]="stars >= star ? star_filled : star_empty" alt="Star" />
        </span>
      </div>
      <div *ngIf="maxStars > 10" class="stars-group">
        <span
          *ngFor="let star of [11, 12, 13, 14, 15]"
          (click)="stars == star ? (stars = 0) : (stars = star)"
        >
          <img [src]="stars >= star ? star_filled : star_empty" alt="Star" />
        </span>
      </div>
    </div>
    <div *ngIf="maxStars > 15" class="stars-row">
      <div *ngIf="maxStars > 15" class="stars-group">
        <span
          *ngFor="let star of [16, 17, 18, 19, 20]"
          (click)="stars == star ? (stars = 0) : (stars = star)"
        >
          <img [src]="stars >= star ? star_filled : star_empty" alt="Star" />
        </span>
      </div>
      <div *ngIf="maxStars > 20" class="stars-group">
        <span
          *ngFor="let star of [21, 22, 23, 24, 25]"
          (click)="stars == star ? (stars = 0) : (stars = star)"
        >
          <img [src]="stars >= star ? star_filled : star_empty" alt="Star" />
        </span>
      </div>
    </div>
  </div>

  <label>
    Item:
    <input [(ngModel)]="item.name" placeholder="Item name" />
  </label>

  <label>
    Flames:
    <input [(ngModel)]="item.flames" placeholder="Flames" />
  </label>

  <label>
    Potential:
    <select [(ngModel)]="rarity" (change)="onRarityChange()">
      <option *ngFor="let r of itemRarities" [value]="r">{{ r }}</option>
    </select>
    <div *ngFor="let potential of [1, 2, 3]">
      <select [(ngModel)]="item['potential' + potential]">
        <option *ngFor="let option of potentialOptions" [value]="option">
          {{ option }}
        </option>
      </select>
    </div>
  </label>

  <button (click)="saveItem()">Save</button>
  <button (click)="cancelEdit()">Cancel</button>
</div>
