.form-container {
  background-color: #2e2e2e;
  border: 1px solid #555;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
}

label {
  display: block;
  margin-bottom: 10px;
}

.stars {
  display: flex;
  flex-direction: column;
}

.stars-row {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.stars-group {
  display: flex;
}

.stars span {
  cursor: pointer;
  margin-right: 5px;
}

.stars img {
  width: 12px;
  height: 12px;
}

button {
  margin-top: 10px;
}
