.form-container {
  color: #fff;
}

label {
  display: block;
  margin-bottom: 10px;
}

.stars {
  display: flex;
  flex-direction: column;
}

.stars-row {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.stars-group {
  display: flex;
}

.stars span {
  cursor: pointer;
  margin-right: 5px;
}

.stars img {
  width: 12px;
  height: 12px;
}

.flame-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  row-gap: 0;
}

.flame-option {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.flame-option label {
  margin: 0;
  padding: 0;
}

.flame-option input {
  box-sizing: border-box;
  width: 100%;
}

button {
  margin-top: 10px;
}
