.section {
  height: min-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.inventory-container {
  width: 280px;
  padding: 10px;
  background-color: #333;
  border: 2px solid #555;
  border-radius: 10px;
  color: rgb(230, 230, 230);
}

.inventory-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
}
